:root {
    --main-color: #ff5b5b;
    --main-bg-color: radial-gradient(circle at 50% 100%,  #ff6e6c 30%, #D92E7F 62%, #9B36B7 85%);
    --shadow-color: 0px 0px 3px #d70000, 5px 5px 2px #ea13f2, -5px -2px 2px #ff6e6c;

    --second-bg: linear-gradient(135deg, #BC4E9C 0%, #F80759 100%);
}