@import 'libs/bootstrap-reboot.min';
@import 'libs/font';
@import 'libs/animations';

@import 'base/vars';

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

p, ol, ul, li, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a, input, button {
    &:focus {
        outline-color: var(--main-color);
    }
}

input, textarea {
    outline: none;
    &:focus {
        border: 2px solid var(--main-color);
    }
}

.container {
    width: 1140px;
    margin: 0 auto;
}

@import 'blocks/button';
@import 'blocks/title';
@import 'blocks/subtitle';
@import 'blocks/home';
@import 'blocks/menu';
@import 'blocks/about';

@import 'media';