.home {
    position: relative;
    padding: 100px 0 130px 0;
    min-height: 100vh;
    background-color: #000000;
    overflow: hidden;
    &__title {
        font-size: 100px;
        line-height: 100px;
        font-weight: 700;
        text-align: center;
        letter-spacing: 8.4px;
        color: #ffffff;
        text-shadow: 0px 0px 3px #d70000, 5px 5px 2px #ea13f2, -5px -2px 2px #ff6e6c;
        transition: all .3s;
        cursor: pointer;
        &:hover {
            text-shadow: unset;
            background: radial-gradient(circle at 50% 100%,  #ff6e6c 30%, #D92E7F 62%, #9B36B7 85%);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    &__subtitle {
        font-family: unrulyness;
        font-size: 60px;
        line-height: 60px;
        font-weight: 400;
        text-align: center;
        color: var(--main-color);
    }
    &__button {
        margin: 0 auto;
        margin-top: 100px;
        text-decoration: none;
    }
    &__link {
        display: block;
        position: absolute;
        left: 50%;
        bottom: 30px;
        transform: translateX(-50%);
        width: 90px;
        text-decoration: none;
        font-family: unrulyness;
        color: #ffffff;
        font-size: 45px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
        transition: all .3s;
        span {
            display: block;
            margin-top: 15px;
            font-size: 16px;
        }
        &:hover {
            color: var(--main-color);
        }
    }
}